# Junk
ClientDesktop/Win32/
ClientDesktop/Linux64/
ClientDesktop/__history
ClientDesktop/__recovery
ClientDesktop/Forms/__history
ClientDesktop/Forms/__recovery
ClientDesktop/Forms/DeliveryOrder/__history
ClientDesktop/Forms/DeliveryOrder/__recovery
ClientDesktop/Forms/Inventory/__history
ClientDesktop/Forms/Inventory/__recovery
ClientDesktop/Forms/Masters/__history
ClientDesktop/Forms/Masters/__recovery
ClientDesktop/Forms/Quotation/__history
ClientDesktop/Forms/Quotation/__recovery
ClientDesktop/Forms/System/__history
ClientDesktop/Forms/System/__recovery
CrossEncryption/__history
CrossEncryption/__recovery
CrossEncryption/Win32/
CrossEncryption/Linux64/
Databases/__history
Databases/__recovery
Databases/createmyriften.txt
Databases/myriften.ald
Databases/uUserPassword.pas
Images/png/
Images/svg/
Prints/__history
Prints/__recovery
ServerDesktop/__history
ServerDesktop/__recovery
ShareModules/__history
ShareModules/__recovery
Styles/
